<section class="hero is-full-height">
    <div class="columns">
        <aside class=" column is-2 menu m-5">
            <p class="title is-size-5" id="greeting">
            {{!-- Good morning, {{ username }} --}}
            </p>
            <p class="subtitle is-size-6" id="date-time">
            
            </p>

            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li><a href="/dashboard/">Dashboard</a></li>
                <li><a href="/dashboard/write">New Post</a></li>
                <li><a href="#">Drafts</a></li>
            </ul>
        </aside>
        <div class="container mt-6">
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <div>
                        <p class="heading">Posts</p>
                        <p class="title">3,456</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <div>
                        <p class="heading">Following</p>
                        <p class="title">123</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <div>
                        <p class="heading">Followers</p>
                        <p class="title">456K</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <div>
                        <p class="heading">Likes</p>
                        <p class="title">789</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/js/dashboard.js"></script>

