<div class="card py-6 my-6 px-6 mx-6">
  <div class="card-content">
    <p class="title">
      “Qualities I look for in a senior sofware engineer.”
    </p>
    <p class="subtitle">
      Chad Tao
    </p>
    <p class="subtitledate mt-1">
      July 5th, 2022
    </p>
  </div>
  <nav class="level is-mobile ml-5">
    <div class="level-left">
      <a class="level-item" aria-label="reply">
        <span class="icon is-small">
          <i class="fas fa-comment" aria-hidden="true"></i>
        </span>
      </a>
      <a class="level-item" aria-label="like">
        <span class="icon is-small">
          <i class="fas fa-heart" aria-hidden="true"></i>
        </span>
      </a>
    </div>
     <div class="level-right">
      <a class="level-item">
        <p class="has-text-grey-light mr-5">31 Comment</p>
      </a>
    </div>
  </nav>
  <footer class="card-footer"></footer>
</div>
<div class="card py-6 my-6 px-6 mx-6">
  <div class="card-content">
    <p class="title">
      "10 health benefits of using emojis in your everyday life 🫀. ”
    </p>
    <div class="level">
      <div class="level-left">
        <p class=" level-item">
          Nick Graffis
        </p>
        <p class="level-item">
          July 5th, 2022
        </p>
      </div>
    </div>
  </div>
  <nav class="level is-mobile ml-5">
    <div class="level-left">
      <a class="level-item" aria-label="reply">
        <span class="icon is-small">
          <i class="fas fa-comment" aria-hidden="true"></i>
        </span>
      </a>
      <a class="level-item" aria-label="like">
        <span class="icon is-small">
          <i class="fas fa-heart" aria-hidden="true"></i>
        </span>
      </a>
    </div>
     <div class="level-right">
      <a class="level-item">
        <p class="has-text-grey-light mr-5">50 Comment</p>
      </a>
    </div>
  </nav>
  <footer class="card-footer"></footer>
</div>
<div class="card py-6 my-6 px-6 mx-6">
  <div class="card-content">
    <p class="title">
      “Love hate relationship with backend development.”
    </p>
    <p class="subtitle">
      Erik Hirsch
    </p>
  </div>
  <nav class="level is-mobile ml-5">
    <div class="level-left">
      <a class="level-item" aria-label="reply">
        <span class="icon is-small">
          <i class="fas fa-comment" aria-hidden="true"></i>
        </span>
      </a>
      <a class="level-item" aria-label="like">
        <span class="icon is-small">
          <i class="fas fa-heart" aria-hidden="true"></i>
        </span>
      </a>
    </div>
     <div class="level-right">
      <a class="level-item">
        <p class="has-text-grey-light mr-5">55 Comment</p>
      </a>
    </div>
  </nav>
  <footer class="card-footer"></footer>
</div>
<div class="card py-6 my-6 px-6 mx-6">
  <div class="card-content">
    <p class="title">
      “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
    </p>
    <p class="subtitle">
      Jeff Atwood
    </p>
  </div>
  <nav class="level is-mobile ml-5">
    <div class="level-left">
      <a class="level-item" aria-label="reply">
        <span class="icon is-small">
          <i class="fas fa-comment" aria-hidden="true"></i>
        </span>
      </a>
      <a class="level-item" aria-label="like">
        <span class="icon is-small">
          <i class="fas fa-heart" aria-hidden="true"></i>
        </span>
      </a>
    </div>
     <div class="level-right">
      <a class="level-item">
        <p class="has-text-grey-light mr-5">31 Comment</p>
      </a>
    </div>
  </nav>
  <footer class="card-footer"></footer>
</div>