{{!-- side bar starts here --}}
<section class="hero is-full-height">
    <div class="columns">
        <aside class="column is-2 menu m-5">
            <p class="title is-size-5 greeting">
            Good morning, Vy!
            </p>
            <p class="subtitle is-size-6 date">
            July 1, 2022 8:30 AM
            </p>

            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="">New Post</a></li>
                <li><a href="#">Drafts</a></li>
            </ul>
        </aside>
        <section class="container my-6 mx-6">
            {{> writeBox }}
        </section>
    </div>
</section>
