{{!-- <div class="element"></div> --}}

<nav class="level">
<div class="level-left">
  <div class="level-item has-text-centered">
    
  <div class="field has-addons">
  <p class="control">
    <button class="button is-small is-ghost has-text-black" id="bold">
      <span class="icon is-small">
        <i class="fas fa-bold"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small is-ghost has-text-black" id="italic">
      <span class="icon is-small">
        <i class="fas fa-italic"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small is-ghost has-text-black" id="underline">
      <span class="icon is-small">
        <i class="fas fa-underline"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small is-ghost has-text-black" id="code">
      <span class="icon is-small">
        <i class="fas fa-code"></i>
      </span>
    </button>
  </p>
</div>
<div class="field has-addons">
  <p class="control">
    <button class="button is-small is-ghost has-text-black" id="aLeft">
      <span class="icon is-small">
        <i class="fas fa-align-left"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small is-ghost has-text-black" id="aCenter">
      <span class="icon is-small">
        <i class="fas fa-align-center"></i>
      </span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small is-ghost has-text-black" id="aRight">
      <span class="icon is-small">
        <i class="fas fa-align-right"></i>
      </span>
    </button>
  </p>
</div>
</p>
</div>
</nav>
<div class="field">
  <div class="control">
    {{!-- <button id="bold">Bold</button> --}}
    <div class="element" style=""></div>
 </div>
</div>

<div class="field is-grouped is-grouped-right mt-5">
  <div class="control">
    <button class="button is-black">Submit</button>
  </div>
  <div class="control">
    <button class="button is-black">Cancel</button>
  </div>
</div>

