<html lang='en' style='font-family:sans-serif;'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'
      integrity='sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk='
      crossorigin='anonymous'
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <title>`Bloggy`</title>
    <body>
          <header>
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  {{!-- change this href --}}
                  <a class="navbar-item" href="/">
                    <h1 class="has-text-weight-normal is-italic">`Bloggy`</h1>
                  </a>

                  <a role="button" id="burger" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>

              <div id="nav-links" class="navbar-menu">
                <div class="navbar-start">
                  <a class="navbar-item" href="/">
                    Home
                  </a>
                  {{!-- add href here --}}
                  <a class="navbar-item" href="/dashboard">
                    Dashboard
                  </a>

                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                      More
                    </a>

                    <div class="navbar-dropdown is-boxed">
                      <a class="navbar-item">
                        About
                      </a>
                      <a class="navbar-item">
                        Contact
                      </a>
                      <hr class="navbar-divider">
                      <a class="navbar-item">
                        Report an issue
                      </a>
                    </div>
                  </div>
                </div>

                <div class="navbar-end">
                  <div class="navbar-item">
                    <a class="has-text-dark mr-6" href="/login">My Account</a>
                    {{!-- <div class="buttons">
                      <a class="button is-rounded is-ghost" href="/signup">
                        <strong class="has-text-dark">Sign up</strong>
                      </a>
                      <a class="button is-light is-rounded is-focused" href="/login">
                        Log in
                      </a> --}}
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </header>
        <section>

          {{{body}}}
          
        </section>
      </section>

    <script src="/js/toggle.js"></script>
    <script src="/js/editor.js"></script>
  </body>

</html>